<nav class="navbar-default dark-primary-color text-primary-color p1 m-bottom">
    <div class="container ">
        <div class="d-flex justify-content-between ">
            <h1> <a class="text-primary-color" href="/">Circuit Maker </a> </h1>
            <div class="nav-item justify-content-end"> <a class="nav-link active" onclick="resetTimer();">Reset</a> </div>
        </div>
    </div>
</nav>